<div class="container" *ngIf="user; else selectAccount" [@componentTransition]>
  <h3>You are logged as {{getUsername()}}</h3>
  <div class="row">
    <div class="col-md-4">
      <app-user-input></app-user-input>
    </div>
    <br>
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-12">
          <input class="form-control" type="text" [(ngModel)]="filterString"><br>
        </div>
      </div>
      <div class="row" style="margin-top: 15px">
        <div class="col-md-12">
          <app-transaction
            *ngFor="let transaction of transactions  | filter:filterString:'trsName' ;  let i = index;"
            [trs]="transaction"
            (click)="onElementClick(i)"
          ></app-transaction>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-4"></div>
    <div class="col-xs-8" style="text-align: center">
      <fieldset *ngIf="transactions.length > 0">
        <p>Total: {{getTotalAmount()}}$</p>
      </fieldset>
    </div>
  </div>
</div>
<ng-template #selectAccount>
  <h2>You must select an account before accessing this page!</h2>
</ng-template>

